<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
<div id="top" class="container">
    <div id="sidebar"><%- partial('_partial/sidebar') %></div><div
            id="content" ><%- body %></div>
    <%- partial('_partial/inline-scripts') %>
</div>
</body>
</html>
