#blog-index
  .posts
    .year
      color #a8aeaf
      border-bottom 1px solid ruleColor
      font-weight 400
      margin 30px 0 10px
      font-size 1.250rem
    :first-child
      margin-top 0
    .post
      margin-bottom 0.5rem
      > div
        display inline-block
        vertical-align top
      .date
        width 14%
        min-width 65px
      .title
        max-width: calc(100% - 65px)
#blog-post
  .pagination
    border-top 1px solid ruleColor
    margin-top 15px
    padding-top 15px
